
[stepper_a]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: P1.28
homing_speed: 50
#position_endstop: 295.6
#arm_length: 269.0

[stepper_b]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: P1.26
homing_speed: 50

[stepper_c]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 40
endstop_pin: P1.24
homing_speed: 50

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.24
full_steps_per_rotation: 200
max_extrude_only_distance: 300
min_extrude_temp: 180
pressure_advance: 0.05
pressure_advance_smooth_time: 0.02
control: pid
pid_Kp: 22.36
pid_Ki: 1.63
pid_Kd: 76.48
min_temp: 0
max_temp: 270

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
pid_kp: 73.517
pid_ki: 1.132
pid_kd: 1193.728
min_temp: 0
max_temp: 120


[fan]
pin: P2.3
kick_start_time: 0.200

[heater_fan extruder_cooler_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[probe]
pin: ^!P1.25
# Z Min Default probe. If it wrong triggered invert it: !P1.25
#z_offset: 0.13
y_offset: 0
x_offset: 0
samples: 3
samples_result: average
sample_retract_dist: 5
samples_tolerance: 0.1
samples_tolerance_retries: 5

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_13A0FF0847104AAFBCD7645DC52000F5-if00

[printer]
kinematics: delta
max_velocity: 500
max_accel: 2000
max_accel_to_decel: 2000
max_z_velocity: 300
#delta_radius: 125
# if you want to DELTA_CALIBRATE you may need that
minimum_z_position: -5

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    0,0,20  # an example

[input_shaper]


[delta_calibrate]
radius: 115
speed: 50
horizontal_move_z: 30

[bed_mesh]
speed: 120
horizontal_move_z: 20
mesh_radius: 115
mesh_origin: 0,0
round_probe_count: 5

[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 3600

[include OrbiterSensor.cfg]

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_a]
uart_pin: P1.17
run_current: 0.850
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_b]
uart_pin: P1.15
run_current: 0.850
interpolate: True
stealthchop_threshold: 999999

[tmc2209 stepper_c]
uart_pin: P1.10
run_current: 0.850
interpolate: True
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: P1.8
run_current: 0.85
interpolate: False
stealthchop_threshold: 0

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
contrast: 63
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
## Some micro-controller boards may require an spi bus to be specified:
#spi_bus: spi
## Alternatively, some micro-controller boards may work with software spi:
#spi_software_miso_pin: EXP2_1
#spi_software_mosi_pin: EXP2_6
#spi_software_sclk_pin: EXP2_2

[output_pin beeper]
pin: EXP1_1

[neopixel fysetc_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  
[gcode_macro LOAD_PLA_FILAMENT]
gcode:
  M109 S205
  M117  Loading PLA...
  G91
  G1 E100.0
  G90
  M117 Load Complete!
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
  
[gcode_macro UNLOAD_PLA_FILAMENT]
gcode:
  M109 S205
  M117 Unloading PLA...
  G91
  G1 E-150
  G90
  M117 Unload Complete!
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10

[gcode_macro LOAD_PETG_FILAMENT]
gcode:
  M109 S235
  M117  Loading PETG...
  G91
  G1 E100.0
  G90
  M117 Load Complete!
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
  
[gcode_macro UNLOAD_PETG_FILAMENT]
gcode:
  M109 S235
  M117 Unloading PETG...
  G91
  G1 E-150
  G90
  M117 Unload Complete!
  UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
  
[gcode_macro G29] 
gcode:
	BED_MESH_CALIBRATE
	
# Ring Lighting
[output_pin caselight]
pin: P1.29
#max_power: 1.0
#kick_start_time: 0.5
pwm: true
shutdown_value: 0
value: 100
cycle_time: 0.01
scale: 100
 
# Ringlight Control
[gcode_macro ringlight_off]
gcode:
    SET_PIN PIN=caselight VALUE=0
 
[gcode_macro ringlight_on]
gcode:
    SET_PIN PIN=caselight VALUE=60

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating (but don't wait for it)
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*#
#*# [printer]
#*# delta_radius = 139.853689
#*#
#*# [stepper_a]
#*# angle = 208.982147
#*# arm_length = 278.018635
#*# position_endstop = 295.521022
#*#
#*# [stepper_b]
#*# angle = 330.383943
#*# arm_length = 278.783950
#*# position_endstop = 295.281876
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 274.183468
#*# position_endstop = 295.515038
#*#
#*# [probe]
#*# z_offset = -0.050
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 49.6
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 48.6
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.253573, -0.253573, -0.253573, -0.253573, -0.253573
#*# 	0.219110, 0.219110, 0.054495, 0.081701, 0.081701
#*# 	0.142009, 0.167201, 0.275477, 0.111006, -0.102895
#*# 	0.120947, 0.120947, 0.277553, -0.031888, -0.031888
#*# 	0.369819, 0.369819, 0.369819, 0.369819, 0.369819
#*# tension = 0.2
#*# min_x = -115.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = -115.0
#*# x_count = 5
#*# max_y = 115.0
#*# mesh_x_pps = 2
#*# max_x = 115.0
#*#
#*# [delta_calibrate]
#*# height0 = -0.05
#*# height0_pos = 23642.667,23614.667,23616.667
#*# height1 = -0.05
#*# height1_pos = 28798.000,28836.667,20703.000
#*# height2 = -0.05
#*# height2_pos = 22990.667,32088.667,23030.667
#*# height3 = -0.05
#*# height3_pos = 20863.333,27961.333,28060.333
#*# height4 = -0.05
#*# height4_pos = 22960.000,22886.000,29457.000
#*# height5 = -0.05
#*# height5_pos = 27310.667,21023.667,27275.667
#*# height6 = -0.05
#*# height6_pos = 30629.333,22909.000,22908.000
#*# distance0 = 65.7
#*# distance0_pos1 = 23410.211,23732.163,23573.208
#*# distance0_pos2 = 21318.115,26269.827,26126.264
#*# distance1 = 65.7
#*# distance1_pos1 = 23517.737,23520.013,23680.211
#*# distance1_pos2 = 22865.230,22822.191,28170.638
#*# distance2 = 65.7
#*# distance2_pos1 = 23729.911,23415.730,23573.208
#*# distance2_pos2 = 26323.167,21323.443,26126.264
#*# distance3 = 65.7
#*# distance3_pos1 = 23834.524,23521.809,23361.044
#*# distance3_pos2 = 28324.605,22848.949,22675.681
#*# distance4 = 65.7
#*# distance4_pos1 = 23725.150,23733.980,23255.863
#*# distance4_pos2 = 26237.820,26302.401,21163.542
#*# distance5 = 65.7
#*# distance5_pos1 = 23513.031,23840.074,23361.044
#*# distance5_pos2 = 22795.118,28330.450,22675.681
#*# distance6 = 65.7
#*# distance6_pos1 = 21469.077,25732.149,25950.388
#*# distance6_pos2 = 23021.177,22673.568,27962.393
#*# distance7 = 65.6
#*# distance7_pos1 = 23023.811,22679.272,27554.904
#*# distance7_pos2 = 26385.581,21373.750,25822.523
#*# distance8 = 65.8
#*# distance8_pos1 = 26141.344,21473.112,25587.027
#*# distance8_pos2 = 28113.253,23004.732,22526.096
#*# distance9 = 65.5
#*# distance9_pos1 = 27705.884,23008.787,22530.945
#*# distance9_pos2 = 25934.900,26366.437,21213.045
#*# distance10 = 65.6
#*# distance10_pos1 = 25702.680,26124.258,21312.406
#*# distance10_pos2 = 22648.057,28121.015,22831.358
#*# distance11 = 65.4
#*# distance11_pos1 = 22655.139,27713.565,22836.285
#*# distance11_pos2 = 21369.721,25966.396,26191.295
